nav
  position: fixed
  height: 100%
  border-right: 3px double black
  padding-top: 8px
  padding-left: 8px
  a
    display: block
    width: 150px
    padding-left: 28px

.wrap > .container
  margin-left: 160px

.user.login nav
  display: none

.form-group.required label:after
  content: ' *'

.icon
  background: no-repeat left
  background-size: contain

.icon.site
  background-image: url("/images/icons/site.png")

.icon.payments
  background-image: url("/images/icons/payments.png")

.icon.users
  background-image: url("/images/icons/users.png")

.icon.news
  background-image: url("/images/icons/news.png")

.icon.feedback
  background-image: url("/images/icons/feedback.png")

.icon.investments
  background-image: url("/images/icons/investments.png")

.icon.blocking
  background-image: url("/images/icons/blocking.png")

.icon.visits
  background-image: url("/images/icons/visits.png")

.icon.logout
  background-image: url("/images/icons/logout.png")
