body
  background: #e8e8e8 url("/images/bg-top.jpg") top no-repeat
  font-family: "Arial", serif

header
  height: 288px
  background: url("/images/bg-header.png") top no-repeat

.navbar-default
  text-transform: uppercase
  border: none
  background-color: transparent
  margin-bottom: 0
  ul
    width: 960px
    height: 56px
    background: url("/images/menu.png") center no-repeat
  li
    margin-right: 2px
    padding-right: 2px
    a
      font-weight: bold
      font-size: 13px
      margin-top: 16px
      margin-bottom: 5px
      padding: 0 0 5px 0
      margin-left: 20px
      line-height: 20px
      color: white !important
    a:hover
      background: url("/images/menu-button-border.png") center bottom no-repeat
  .right
    background: #00a3c6
    float: right
    margin: 10px 10px 0 0
    border-radius: 5px
    a
      margin: 0
      padding: 6px 8px
      font-size: 12px
      font-weight: normal
      text-transform: none
    a:hover
      background: none

  .navbar-nav
    margin: 0 -26px
  .navbar-nav > .active > a
    background: transparent
  .navbar-nav > .active > a:hover
    background: transparent


@media (min-width: 1000px)
  .container
    width: 1004px
    padding: 0

  .wrap > .container
    padding: 4mm
    border-radius: 4mm

  .wrap > nav > .container
    padding-left: 30px

  #metrika
    margin-top: 90px

  aside
    width: 260px
    h1, h2
      font-size: 20px
    .statistics
      h2
        background-color: #00417C
        color: white
        text-align: center
        margin: 10px 0 0
        padding: 10px
      .content
        background: url("/images/statistics.png") repeat-y center
      ul
        list-style-type: none
        margin-bottom: 0
        padding-left: 0
        li
          color: white
          padding: 10px 30px
          border-top: solid 1px #4983bd
          border-bottom: solid 1px #005595
          span
            margin-right: 10px

    .news, .advices
      padding: 0 10px

    .news
      ul
        padding: 0
      .summary
        display: none
      .list-group-item
        padding: 10px 0 0
        border: none
        border-top: solid 1px #cde1ef
        a
          font-size: 14px
          font-family: Arial, Helvetica, sans-serif
        p
          font-size: 11px

    .advices
      ol
        padding-left: 20px

    .fraud
      height: 100px
      margin: 20px
      img
        float: left
      div
        float: right
        width: 150px
        color: #009EE5


footer
  text-align: center


form.search
  width: 650px
  input
    float: left
    margin-left: 20px
    padding-left: 15px
    width: 589px
    height: 29px
    border: none
    background: url("/images/search.png") center no-repeat
  button
    float: right
    width: 41px
    height: 29px
    border: none
    background: url("/images/search_button.png") center no-repeat


#linux
  position: fixed
  display: none
  vertical-align: top
  top: 33%
  background-color: #fff
  width: 100vw
  z-index: 1
  border-top: 1px solid black
  border-bottom: 1px solid black
  text-align: center
  margin: auto
  cursor: pointer
  > *
    width: 30%
    display: table-cell
    vertical-align: top
    padding: 1em
    &:first-child
      text-align: right
    &:last-child
      text-align: left
  .welcome
    font-size: 1.5em
    vertical-align: middle

footer
  height: 60px
  padding-top: 20px
  text-align: center

#user-panel
  ul
    padding-left: 0
  li
    display: inline-block

.slides
  width: 700px

.form-group.required label:after
  content: ' *'

footer
  .skype
    margin-top: 200px
    color: white
    padding-left: 20px
    > *
      margin-left: 10px
    a
      color: #76b6ff
  .social
    margin-top: 10px

.small
  display: block
  font-size: 0.5em

.cabinet
  text-align: center
  background-color: white
  .red-buttons
    a
      margin-bottom: 4mm
  .vip
    border: 2px solid #F0B211
    border-radius: 1em
    padding: 1em
    margin: 1em
    text-align: left
    height: 200px
    .left
      float: left
    .right
      float: right
  .footer
    display: table-row
    margin: auto
    > div
      display: table-cell
      text-align: left
      padding: 1em
  h1
    font-size: 17px
    font-family: 'Arial Black', serif

.type
  display: inline-block
  vertical-align: top
  .firm
    width: 470px
    background: url("/images/firm-header.jpg") no-repeat top
    .title .name
      margin-left: 120px


.lot .firm
  width: 956px
  background: url("/images/bg-news.png") no-repeat top
  margin-bottom: 25px
  .title
    .name
      margin-left: 20px
    div
      font-size: 18px
      margin-right: 10px
      span
        display: inline-block
        vertical-align: middle
      img
        float: none
  ul
    width: 700px
    padding-top: 46px
  li
    display: inline-block
    list-style: none
    font-weight: bold
    width: 140px
    font-size: 17px
    span
      display: block

.firm
  position: relative
  display: inline-block
  border: 2px solid #a2b6bd
  border-radius: 5px
  height: 200px
  margin: 4px
  .title
    line-height: 47px
    font-size: 14px
    text-transform: uppercase
    font-weight: bold
    text-shadow: 0 2px 0 #063f4d
    *:last-child
      display: inline-block
      float: right
      margin-right: 30px
      color: white
    .name
      color: white
    .insufficient
      float: right
      margin-right: 10px
      width: 90px
      line-height: 20px
      color: white
      font-size: 12px
      text-transform: none
  > div > img
    vertical-align: top
    margin-top: 8px
    margin-left: 8px
    border-radius: 4px
  .summary
    color: #00657a
    display: inline-block
    width: 40%
    margin-top: 8px
    margin-left: 8px
    .income
      margin-bottom: 15px
      font-weight: bold
      text-transform: uppercase
      font-size: 14px
    span
      color: #e76a48
  .stake
    position: absolute
    right: 8px
    bottom: 8px
    float: right
    padding: 8px 12px
    border-radius: 4px
    background-color: #a9b7be
    color: white
    font-weight: bold
    text-transform: uppercase
    > *
      vertical-align: middle
    img
      margin-left: 4px

.top
  text-align: center
  padding: 0 8px 0 4px
  h1
    font-weight: bold
    font-size: 17px
  table
    border: #ccc 1px solid
  tr:nth-child(even) td
    background-color: #f6f6f6
  tr:nth-child(odd) td
    background-color: #fafafa
  th
    border-top: 1px solid #ffffff !important
    background-color: rgb(237, 237, 237)
    text-align: center
    font-size: 16px
    font-weight: normal
  th, td
    border-top: 1px solid #ffffff
    border-bottom: 1px solid #e0e0e0
    border-left: 1px solid #e0e0e0
    padding: 16px !important
  td
    width: 30%
    color: #678591
    font-size: 13px
    font-weight: bold

.blue-border
  text-shadow: 0 2px 0 #008eac
  text-transform: uppercase
  background-color: #00B2D7
  border: 6px solid #00AACD
  line-height: 40px
  color: white
  border-radius: 3px
  font-size: 17px
  font-family: 'Arial Black', serif
  font-weight: bold
  text-align: center

.cabinet-title
  position: relative
  text-shadow: 0 2px 0 #008eac
  text-transform: uppercase
  background-color: #00AACD
  line-height: 40px
  color: white
  border-radius: 3px
  .settings
    position: absolute
    top: 4px
    right: 5px
    font-size: 12px
    width: 100px
    height: 32px
    border-radius: 5px
    background: url("/images/bg-settings.png") no-repeat center left #00b1d6
    text-transform: none
    color: white
    text-shadow: none
    font-family: Arial, Helvetica, sans-serif

.start
  display: block
  margin: auto
  width: 230px
  height: 40px
  background: url("/images/start.png") no-repeat 0px -56px

.start:hover
  cursor: pointer
  background-position: 0 0

.orange-buttons .btn
  background: #F0B211

.red-buttons .btn
  background: #f06666

.menu
  > *
    padding: 6px 6px 6px 16px
    border-radius: 5px
  .row1
    background: #f4f2f2
  .row2
    margin-top: 8px
    border: 2px solid #e6e6e6
  a
    background: #a4c86c
    float: right
    margin: 8px 8px 0 0
  p
    display: inline-block
    margin-right: 48px
  span
    color: #f06666

.stats
  p
    display: inline-block
    padding-right: 32px
  > *
    background: #f4f2f2
    border-radius: 5px
    padding: 5px 10px
  td:last-child
    padding-left: 5px
    color: #f06666

.btn
  color: white

.my-business
  h2
    background-color: #f7f5f5
    color: #f06666
    font-size: 16px
    padding: 12px

.participant
  position: relative
  display: inline-block
  width: 188px
  height: 70px
  text-transform: uppercase
  font-weight: bold
  text-shadow: 0 2px 0 #000000
  text-align: center
  border-radius: 6px
  margin-bottom: 5px
  margin-right: 5px
  font-size: 14px
  box-shadow: 2px 3px 1px rgba(0,0,0,0.7)
  color: #fff
  background: #00657a
  div
    position: absolute
    top: 0
    width: 40px
    vertical-align: middle
    height: 20px
    text-align: center
    background-color: rgba(255,255,255,0.5)
    border-radius: 6px 0 6px 0
  span
    position: relative
    top: 30px

.busy
  background-color: darkgrey

.participant:not(.busy):hover
  background: #e76a48

.participant:hover
  color: white
  text-decoration: none

.user-login
  .form-group.required label:after
    content: ''
  form
    width: 465px
    margin: auto
    .form-group[class*="field"]
      padding-left: 7px
      border-radius: 4px
      label, .form-control
        display: inline-block
        width: auto
      label
        width: 127px
        text-transform: uppercase
      .form-control
        width: 327px
        border-radius: 0 4px 4px 0
      background-color: #00b4dd
      color: white

.user-create
  .form-group.required label:after
    content: ''
  color: #00a9cd
  font-family: 'Arial Black', serif
  text-transform: uppercase
  .glyphicon
    color: white
    padding: 3px
    cursor: pointer
  h1
    margin-bottom: 50px
  form
    margin: auto
    width: 365px
  input
    background-color: #00b4dd
    color: white
  .always-true:first-child
    margin-top: 30px
    margin-bottom: 20px
  .always-true:last-child
    margin-top: 20px
    margin-bottom: 30px
  .always-true
    color: #00304e
    font-size: 13px
    font-family: 'Arial Narrow', serif
    text-transform: none
    div
      display: inline-block
    div:first-child
      line-height: 20px
      margin-right: 6px
    div:last-child
      vertical-align: middle
      width: 20px
      height: 20px
      border-radius: 4px
      background-color: #53AED4

.button
  margin: auto
  background-color: #00acd3
  color: white
  text-transform: uppercase
  border: none
  padding: 14px 48px
  font-size: 17px
  font-family: 'Arial Black', serif
  border-radius: 6px

.home-index
  .statistics
    background: url("/images/bg-stats.jpg") no-repeat top
    height: 130px
    width: 960px
    margin: 0
    border-radius: 5px
    > div > div
      display: inline-block
      margin: auto
      vertical-align: middle
    h3
      text-align: center
      text-transform: uppercase
      font-family: 'Arial', serif
      font-size: 20px
      font-weight: bold
      color: white
      line-height: 41px
      text-shadow: 0 3px 0 #00334e
    .days
      width: 150px
      text-align: center
      p
        font-family: 'Arial', serif
        font-weight: bold
        font-size: 14px
        color: white
        text-shadow: 0 3px 0 #07263b
        span
          font-family: 'Arial', serif
          font-weight: bold
          font-size: 30px
          color: white
    .numbers
      width: 740px
      margin-left: 20px
      > div
        display: inline-block
        width: 350px
        height: 30px
        margin-right: 3px
        margin-bottom: 3px
        background: #86a8b7
        border-radius: 5px
        p
          height: 30px
          line-height: 33px
          margin-left: 10px
          color: white
          font-family: 'Arial', serif
          font-weight: bold
          font-size: 14px
          span
            color: #ffd300

  .slider-container
    position: relative
    ul
      border-radius: 5px
      width: 960px
      height: 200px

ul.slider
  position: relative
  padding-left: 0
  overflow: hidden
  h3
    position: absolute
    left: 0
    right: 0
    bottom: 0
    color: white
    font-size: 21px
    margin: 0
    background-color: rgba(0, 0, 0, 0.4)
    padding: 15px 30px
    text-shadow: 0 2px 0 rgba(0,0,0, 0.7)
  li
    position: absolute
    list-style: none
    background-position: center
    background-size: cover
  li.animated
    transition: left 1s ease 0s
